body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    min-width: 940px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #f3f7f9;
    padding-bottom: 65px;
}

.header-wrapper-top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.top-header {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
    height: 42px;
}

.market-purchase,
.account,
.site-navigation {
    list-style: none;
}

.market-purchase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.market-purchase a {
    position: relative;
    display: block;
    text-transform: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.bookmarks-index {
    padding: 11px 28px 13px 42px;
}

.bookmarks-catalog {
    padding: 11px 28px 13px 42px;
}

.bookmarks::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.bookmarks:active,
.bookmarks:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.basket-index {
    padding: 11px 31px 13px 50px;
}

.basket-index:hover,
.bookmarks-index:hover,
.bookmarks-catalog:hover {
    background-color: #212a3a;
}

.basket-index:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

_:-ms-fullscreen,
:root .basket {
    padding: 11px 26px 13px 50px;
}

.basket::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.basket-catalog {
    padding: 11px 26px 13px 49px;
    background-color: #ee3643;
}

.basket-catalog:hover,
.basket-catalog:hover {
    background-color: #ca2c37;
}

.basket-catalog:active {
    background-color: #ba2732;
}

.ready-order {
    background-color: #63a63e;
}

.ready-order-index {
    padding: 11px 22px 13px 20px;
}

.ready-order-catalog {
    padding: 11px 22px 13px 20px;
}

.ready-order:hover {
    background-color: #5fbb2d;
}

.ready-order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

.market-purchase a:hover::before {
    opacity: 1;
}

.market-purchase a:active::before {
    opacity: 0.5;
}

.market-purchase a,
.account a,
.site-navigation a {
    color: #ffffff;
}

.header-wrapper-middle-bottom {
    width: 940px;
    margin: 0 auto;
}

.middle-header-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 47px;
}

.middle-header-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 47px;
}

.market-name {
    margin: 0;
    width: 200px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
    color: #ee3643;
    margin-left: 55px;
}

.market-name-catalog {
    margin-right: 73px;
}

.phone-addres {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.phone-addres-catalog {
    margin-right: 45px;
}

.phone-number::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 13px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.phone-number {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    padding-left: 65px;
    padding-right: 47px;
    padding-top: 8px;
    padding-bottom: 12px;
    border: 4px solid #ffffff;
    width: 270px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.addres-top {
    text-transform: none;
    color: #32425c;
    padding-left: 6px;
}

.account {
    width: 280px;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.account a {
    position: relative;
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-transform: none;
    background-color: #ffffff;
}

.account a:hover {
    color: #ee3643;
}

.account a:active {
    color: #c5c5c5;
}

.log-in {
    margin-right: 10px;
    padding: 12px 24px 12px 48px;
}

.registration {
    padding: 12px 24px 12px 25px;
}

.log-in::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 14px;
    height: 20px;
    width: 20px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.log-in:hover::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 14px;
    height: 20px;
    width: 20px;
    background-image: url("../img/icon-login-bold.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.log-in:active::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 14px;
    height: 20px;
    width: 20px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-navigation {
    margin-top: 37px;
    background-color: #32425c;
}

.main-navigation li {
    font-size: 17px;
    line-height: 17px;
    text-transform: none;
}

.site-navigation {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-shadow: 0 5px 0 0 #293449;
    box-shadow: 0 5px 0 0 #293449;
}

.site-navigation a {
    display: block;
    padding: 20px 30px 20px 30px;
}

input[placeholder="Поиск"] {
    margin: 0;
    padding: 0;
    width: 270px;
    height: 42px;
    background-color: #293449;
    border: none;
    padding-left: 46px;
    color: #000000;
    background-image: url("../img/icon-search-opacity.svg");
    background-repeat: no-repeat;
    background-position: 13px 13px;
}

input[placeholder="Поиск"]::-webkit-input-placeholder {
    color: #ffffff;
}

input[placeholder="Поиск"]:-ms-input-placeholder {
    color: #ffffff;
}

input[placeholder="Поиск"]::-ms-input-placeholder {
    color: #ffffff;
}

input[placeholder="Поиск"]::placeholder {
    color: #ffffff;
}

input[placeholder="Поиск"]:hover {
    background-color: #212a3a;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 13px 13px;
}

input[placeholder="Поиск"]:focus {
    background-color: #ffffff;
    background-image: url("../img/icon-search-red.svg");
    background-repeat: no-repeat;
    background-position: 13px 13px;
}

.site-navigation li:hover {
    background-color: #293449;
}

.site-navigation li:active {
    background-color: #1d2739;
}

.main-wrapper-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.main-wrapper-catalog {
    width: 940px;
    margin: 0 auto;
}

.about-company {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    text-transform: none;
}

.main-content {
    margin-top: 58px;
    margin-bottom: 59px;
}

.name-company {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.info {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 19px;
    width: 530px;
    white-space: pre-line;
}

.work-with-another-company li {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    margin-bottom: 20px;
}

.work-with-another-company li:before {
    content: "";
    background-color: red;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 7px;
    left: -38px;
}

.work-with-another-company {
    margin-bottom: 34px;
    padding-left: 37px;
}

.about-the-company {
    display: inline-block;
    vertical-align: middle;
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 3px;
    max-width: 150px;
}

.about-the-company:hover {
    background-color: #ca2c37;
}

.about-the-company:active {
    background-color: #ba2732;
}

.contacts {
    font-family: "Cuprum", Arial, sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
}

.contacts .info-contacts {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-transform: none;
    margin-bottom: 30px;
    white-space: pre-line;
}

.contacts .save-back {
    display: block;
    background-color: gray;
    width: 300px;
    height: 158px;
}

.contacts .help {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 62px;
    padding-right: 60px;
    margin-top: 43px;
    border-radius: 3px;
    width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.contacts .help:hover {
    background-color: #ca2c37;
}

.contacts .help:active {
    background-color: #ba2732;
}

.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    color: #ffffff;
    background-color: #32425c;
}

.main-footer ul {
    list-style: none;
}

.main-footer a {
    color: #ffffff;
}

.footer-wrapper-top-middle {
    width: 940px;
    margin: 0 auto;
    min-height: 190px;
}

.top-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.second-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 550px;
    margin-top: 37px;
    margin-bottom: 0;
    padding: 0;
}

.middle-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 34px;
}

.addres-bottom {
    width: 330px;
    margin-right: 90px;
}

.third-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 540px;
    padding: 0;
    margin: 0;
}

.third-navigation a {
    display: block;
    color: #ffda96;
}

.bottom-footer {
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
    padding-top: 40px;
    padding-bottom: 29px;
}

.footer-wrapper-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.footer-copyright {
    width: 230px;
    margin-right: 160px;
}

.btn-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 132px;
    padding: 0;
    margin: 0;
    margin-right: 120px;
}

.info-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.feedback-info {
    width: 140px;
}

.developed {
    margin-left: 50px;
    width: 110px;
}

.bottom-footer ul {
    text-align: center;
}

.bottom-footer .mail-addres,
.bottom-footer .site-addres {
    color: #ffda96;
}

.second-navigation li:hover,
.third-navigation li:hover {
    text-decoration: underline;
}

.second-navigation li:active,
.third-navigation li:active {
    text-decoration: none;
    opacity: 0.5;
}

.mail-addres:hover,
.site-addres:hover {
    text-decoration: underline;
}

.mail-addres:active,
.site-addres:active {
    text-decoration: none;
    color: #ee3643;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.personal-account {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 300px;
}

.personal-account li {
    list-style: none;
}

.user-name a {
    display: inline-block;
    vertical-align: middle;
    padding: 11px 60px 12px 47px;
}

.user-name {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

.log-out {
    position: absolute;
    top: 6px;
    right: 6px;
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 5px 7px;
    width: 30px;
    height: 30px;
}

.log-out:hover {
    background-image: url("../img/icon-logout-bold.svg");
    background-repeat: no-repeat;
    background-position: 5px 7px;
}

.my-order {
    margin-left: 18px;
}

.personal-place {
    position: relative;
    margin-left: 32px;
}

.personal-place::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -16px;
    height: 20px;
    width: 20px;
    background-image: url("../img/Shape-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-name a::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 14px;
    height: 20px;
    width: 20px;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-name a:hover::before {
    background-image: url("../img/icon-user-bold.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-name a:active::before {
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.personal-account a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-transform: none;
    text-decoration: underline;
}

.personal-account a:hover {
    color: #ee3643;
}

.personal-account a:active {
    color: #32425c;
    opacity: 0.3;
}

.user-name a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-name a:hover {
    color: #000000;
}

.user-name a:active {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    background-color: #ffffff;
}

.container {
    color: #000000;
}

.breadcrumbs {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-top: 18px;
    background-image: url("../img/icon-right-small.svg"), url("../img/icon-right-small.svg"), url("../img/icon-right-small.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 243px 2px, 123px 2px, 28px 2px;
}

.breadcrumbs li {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    list-style: none;
}

.breadcrumbs li:not(:first-child) {
    margin-left: 14px;
}

.breadcrumbs a {
    display: block;
    color: #000000;
    margin-right: 27px;
}

.button-icon-home {
    position: absolute;
    top: -5px;
    left: -7px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: 5px 7px;
    width: 30px;
    height: 30px;
    margin: 0;
}

.tooling {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #f2f6f8;
    color: #32425c;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    padding: 30px 740px 29px 28px;
    margin: 20px 0;
}

.wrapper-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter {
    color: #000000;
    width: 220px;
}

.filter li {
    list-style: none;
}

.button-show {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    color: #000000;
    text-transform: uppercase;
    padding-left: 38px;
    padding-right: 39px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
}

.item-list {
    font-weight: 700;
    line-height: 0px;
}

.items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 700px;
    margin: 0;
    padding: 0;
}

.items li {
    list-style: none;
    margin-right: 0;
}

.items b {
    font-size: 17px;
    font-weight: 700;
    color: #999999;
    display: block;
}

.items .red-label {
    background: #ee3643;
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 39px;
}


/* Стиль логотипа сайта. Начало */

.logo-img-top {
    display: block;
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 12px;
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
    box-shadow: 0 5px 0 0 #b52933;
}

.logo-img-top:hover {
    background-color: #ca2c37;
    -webkit-box-shadow: 0 5px 0 0 #9a212a;
    box-shadow: 0 5px 0 0 #9a212a;
}

.logo-img-top:active {
    background-color: #ba2732;
    -webkit-box-shadow: 0 5px 0 0 #8e1e26;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.logo-img {
    display: block;
    padding-left: 40px;
    padding-right: 42px;
    padding-top: 20px;
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
    box-shadow: 0 5px 0 0 #b52933;
}

.logo-img:hover {
    background-color: #ca2c37;
    -webkit-box-shadow: 0 5px 0 0 #9a212a;
    box-shadow: 0 5px 0 0 #9a212a;
}

.logo-img:active {
    background-color: #ba2732;
    -webkit-box-shadow: 0 5px 0 0 #8e1e26;
    box-shadow: 0 5px 0 0 #8e1e26;
}


/* Конец */

.social-button-vk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: 6px 12px;
    width: 41px;
    height: 41px;
    background-color: #212a3a;
    border-radius: 50%;
    margin-right: 5px;
}

.social-button-fb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: 14px 9px;
    width: 41px;
    height: 41px;
    background-color: #212a3a;
    border-radius: 50%;
    margin-right: 5px;
}

.social-button-insta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    width: 41px;
    height: 41px;
    background-color: #212a3a;
    border-radius: 50%;
}

.social-button-vk:hover,
.social-button-fb:hover,
.social-button-insta:hover {
    background-color: #ee3643;
}


/* Начало Modal index.html*/

.feedback-form {
    display: none;
    position: fixed;
    color: #000000;
    background-color: #ffffff;
    z-index: 1000;
    top: 120px;
    left: 50%;
    width: 620px;
    margin-left: -310px;
    border-top: 7px solid #ee3643;
    -webkit-box-shadow: 0px 30px 30px 5px #828895;
    box-shadow: 0px 30px 30px 5px #828895;
}

.modal-wrapper-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 460px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.modal-wrapper-feedback label {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-transform: none;
}

input[placeholder="Имя Фамилия"]::-webkit-input-placeholder,
input[placeholder="email@example.com"]::-webkit-input-placeholder {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    padding-left: 15px;
}

input[placeholder="Имя Фамилия"]:-ms-input-placeholder,
input[placeholder="email@example.com"]:-ms-input-placeholder {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    padding-left: 15px;
}

input[placeholder="Имя Фамилия"]::-ms-input-placeholder,
input[placeholder="email@example.com"]::-ms-input-placeholder {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    padding-left: 15px;
}

input[placeholder="Имя Фамилия"]::placeholder,
input[placeholder="email@example.com"]::placeholder {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    padding-left: 15px;
}

.modal-wrapper-feedback input[type="text"],
.modal-wrapper-feedback input[type="email"] {
    display: block;
    width: 220px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 8px;
    height: 38px;
    border: 2px solid #dee3e4;
}

.modal-wrapper-feedback .label-name,
.modal-wrapper-feedback .label-email {
    margin-top: 46px;
    margin-bottom: 22px;
}

.modal-wrapper-feedback textarea {
    border: 2px solid #dee3e4;
    margin-top: 10px;
    width: 100%;
    min-height: 112px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

textarea::-webkit-input-placeholder {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding-left: 13px;
    padding-top: 7px;
    color: #a9a9a9;
}

textarea:-ms-input-placeholder {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding-left: 13px;
    padding-top: 7px;
    color: #a9a9a9;
}

textarea::-ms-input-placeholder {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding-left: 13px;
    padding-top: 7px;
    color: #a9a9a9;
}

textarea::placeholder {
    font-family: "PT sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding-left: 13px;
    padding-top: 7px;
    color: #a9a9a9;
}

.wrapper-button-submit {
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.button-submit {
    margin: 0;
    border: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 200px;
    width: 100%;
    border-radius: 3px;
    background-color: #ee3643;
    color: #ffffff;
    text-transform: uppercase;
}

.button-submit:hover {
    background-color: #ca2c37;
}

.button-submit:active {
    background-color: #ba2732;
}

.modal-map {
    position: fixed;
    top: 120px;
    left: 50%;
    margin-left: -470px;
    -webkit-box-shadow: 0px 7px 13px 0px #828895;
    box-shadow: 0px 7px 13px 0px #828895;
}


/* Кoнец Modal index.html*/


/* Начало Modal catalog.html*/

.modal {
    display: none;
    position: fixed;
    color: #000000;
    background-color: #ffffff;
    z-index: 1000;
}

.modal-access {
    top: 120px;
    left: 50%;
    width: 620px;
    margin-left: -310px;
    border-top: 7px solid #ee3643;
    -webkit-box-shadow: 0px 30px 30px 5px #828895;
    box-shadow: 0px 30px 30px 5px #828895;
}

.modal-access p {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: none;
    padding: 65px 125px 68px 180px;
    margin: 0;
}

_:-ms-fullscreen,
:root .modal-access p {
    padding: 65px 124px 68px 179px;
}

.modal-access p::before {
    position: absolute;
    content: "";
    top: 48px;
    left: 81px;
    width: 66px;
    height: 66px;
    background-image: url("../img/form-1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.modal-wrapper-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 37px 80px;
    background-color: #f1f1f1;
}

.button {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    width: 220px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0;
}

.button-ready {
    padding: 10px 60px;
    color: #ffffff;
    background-color: #ee3643;
    margin-right: 20px;
}

.button-continue {
    padding: 10px 45px;
    color: #000000;
    background-color: #ffffff;
}

.button-ready:hover {
    background-color: #ca2c37;
}

.button-ready:active {
    background-color: #ba2732;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -1px;
    width: 25px;
    height: 5px;
    background-color: #ee3643;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/*Конец Modal catalog.html*/


/*Рабочая часть*/

.main-wrapper-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.column-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 620px;
}

.column-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 300px;
}

.materials-item {
    position: relative;
    width: 300px;
    height: 123px;
    background-color: #ffbf47;
}

.materials-item .item-new {
    position: absolute;
    right: 0px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.materials-item .item-flag-new {
    background: url("../img/new_flag.png") no-repeat 0 0;
}

.materials-item::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 215px;
    width: 46px;
    height: 66px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.materials-item h2 {
    color: #ffffff;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    text-transform: none;
    margin-left: 22px;
    margin-top: 23px;
    margin: 21px 0px 0px 22px;
}

.sub-material-item {
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 25px;
    color: #ffffff;
    padding: 10px 25px 10px 24px;
    background-color: #e5ac40;
    border-radius: 3px;
    width: 137px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sub-material-item:hover {
    background-color: #cccccc;
}

.sub-material-item:active {
    background-color: #b2b2b2;
}

.tooling-item {
    position: relative;
    width: 300px;
    height: 123px;
    background-color: #3bbce3;
}

.tooling-item::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 200px;
    width: 84px;
    height: 60px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.tooling-item h2 {
    color: #ffffff;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    text-transform: none;
    margin-left: 22px;
    margin-top: 23px;
    margin: 21px 0px 0px 22px;
}

.sub-tooling-item {
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 25px;
    color: #ffffff;
    padding: 10px 25px 10px 25px;
    background-color: #35a9cc;
    border-radius: 3px;
    width: 135px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sub-tooling-item:hover {
    background-color: #cccccc;
}

.sub-tooling-item:active {
    background-color: #b2b2b2;
}

.slaider {
    position: relative;
    margin-top: 20px;
    width: 620px;
    height: 266px;
    background-color: #848080;
}

.slaid-one {
    position: absolute;
    display: none;
    width: 620px;
    height: 266px;
    background-image: url("../img/slaider-1.jpg");
    background-repeat: no-repeat;
}

.slaid-two {
    position: absolute;
    display: none;
    width: 620px;
    height: 266px;
    background-image: url("../img/slaider-2.jpg");
    background-repeat: no-repeat;
}

.slaider h2 {
    display: block;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-left: 24px;
    margin-top: 23px;
    margin-bottom: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slaider span {
    display: block;
    text-transform: none;
    font-size: 18px;
    line-height: 24px;
    margin-left: 25px;
}

.open-catalog {
    display: block;
    color: #ffffff;
    padding: 10px 45px 10px 49px;
    background-color: #ee3643;
    border-radius: 2%;
    width: 195px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 122px;
    margin-left: 25px;
}

_:-ms-fullscreen,
:root .open-catalog {
    padding: 10px 43px 10px 47px;
}

.open-catalog:hover {
    background-color: #ca2c37;
}

.open-catalog:active {
    background-color: #ba2732;
}

.btn-control {
    position: absolute;
    top: 216px;
    left: 294px;
}

.btn-control i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-control i::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
}

.btn-control .slaid-active::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 2;
    width: 4px;
    height: 4px;
    background-color: #ee3643;
    border: 1px solid #ee3643;
    border-radius: 50%;
}

.slaider-button {
    position: absolute;
    width: 22px;
    height: 40px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.button-next {
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 115px;
    right: 18px;
}

.button-back {
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 115px;
    left: 25px;
}

.slaid-active {
    display: block;
}

.machine-item {
    position: relative;
    width: 300px;
    height: 123px;
    background-color: #dc91d8;
}

.machine-item::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 190px;
    width: 80px;
    height: 66px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.machine-item h2 {
    color: #ffffff;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    text-transform: none;
    margin-left: 22px;
    margin-top: 23px;
    margin: 21px 0px 0px 22px;
}

.sub-machine-item {
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 23px;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    background-color: #c682c2;
    border-radius: 3%;
    width: 135px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sub-machine-item:hover {
    background-color: #cccccc;
}

.sub-machine-item:active {
    background-color: #b2b2b2;
}

.discounts-item {
    position: relative;
    width: 300px;
    height: 123px;
    background-color: #8ed78f;
}

.discounts-item::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 196px;
    width: 85px;
    height: 66px;
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.discounts-item h2 {
    color: #ffffff;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    text-transform: none;
    margin-left: 22px;
    margin-top: 23px;
    margin: 21px 0px 0px 22px;
}

.sub-discounts-item {
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 23px;
    color: #ffffff;
    padding: 10px 0 10px 22px;
    background-color: #80c180;
    border-radius: 3px;
    width: 135px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sub-discounts-item:hover {
    background-color: #cccccc;
}

.sub-discounts-item:active {
    background-color: #b2b2b2;
}

.delivery-item {
    position: relative;
    width: 300px;
    height: 123px;
    background-color: #ffbf47;
}

.delivery-item::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 190px;
    width: 80px;
    height: 66px;
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.delivery-item h2 {
    color: #ffffff;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    text-transform: none;
    margin-left: 22px;
    margin-top: 23px;
    margin: 21px 0px 0px 22px;
}

.sub-delivery-item {
    display: inline-block;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 23px;
    color: #ffffff;
    padding: 10px 37px 10px 37px;
    background-color: #e5ac40;
    border-radius: 3px;
    width: 135px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sub-delivery-item:hover {
    background-color: #cccccc;
}

.sub-delivery-item:active {
    background-color: #b2b2b2;
}

.main-wrapper-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 940px;
    margin: 0 auto;
    background-color: #f9f5f0;
    font-family: "Cuprum", Arial, sans-serif;
    margin-top: 52px;
    margin-bottom: 20px;
    height: 90px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popular-items {
    display: block;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    margin-left: 30px;
}

.popular-items-btn {
    display: block;
    color: #ffffff;
    max-width: 150px;
    margin-left: 368px;
    padding: 8px 55px 9px;
    background-color: #ee3643;
    border-radius: 3px;
}

.popular-items-btn:hover {
    background-color: #ca2c37;
}

.popular-items-btn:active {
    background-color: #ba2732;
}

.main-wrapper-middle-manufacturers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 940px;
    margin: 0 auto;
    background-color: #f9f5f0;
    font-family: "Cuprum", Arial, sans-serif;
    margin-bottom: 25px;
}

.popular-items-manufacturers {
    display: block;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 28px;
    margin-left: 28px;
}

.all-items-manufacturers {
    display: block;
    color: #ffffff;
    margin-left: 268px;
    padding: 8px 68px 6px 70px;
    background-color: #ee3643;
    border-radius: 3px;
    margin-top: 23px;
    margin-bottom: 24px;
    width: 115px;
    line-height: 18px;
}

_:-ms-fullscreen,
:root .all-items-manufacturers {
    width: 116px;
}

.all-items-manufacturers:hover {
    background-color: #ca2c37;
}

.all-items-manufacturers:active {
    background-color: #ba2732;
}


/*Популярные товары*/

.popular-goods {
    line-height: 0px;
    font-size: 18px;
    font-weight: 700;
    width: 940px;
    margin: 0 auto;
}

.popular-list-item {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.popular-list-item li {
    margin-left: -40px;
}

.popular-list-item li:nth-child(4n) {
    margin-right: 0px;
}

.catalog-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 218px;
    min-height: 316px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.catalog-item .item-new {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .item-flag-new {
    background: url("../img/new_flag.png") no-repeat 0 0;
}

.image {
    width: 218px;
    height: 168px;
}

.catalog-item .item-name {
    display: block;
    min-height: 40px;
    padding: 0 25px;
    color: #000000;
    margin-top: 10px;
    font-size: 18px;
    line-height: 20px;
    text-transform: none;
}

.catalog-item .price-discount {
    display: block;
    min-height: 20px;
    margin-top: 15px;
    color: #999;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: line-through;
}

.catalog-item .red-label-price {
    position: relative;
    display: block;
    width: 80px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    margin: 4px auto 0px;
    margin-bottom: 21px;
    padding: 10px 26px;
    font-size: 17px;
    line-height: 18px;
}

.catalog-item .red-label-price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -28px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.catalog-item .actions {
    position: absolute;
    color: #000000;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
}

.actions .buy,
.actions .in-bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.actions .in-bookmark {
    color: #32425c;
    background: #ffffff;
    border-bottom-color: #63a63e;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover {
    -webkit-box-shadow: 0px 12px 20px 0px #aeb2ba;
    box-shadow: 0px 12px 20px 0px #aeb2ba;
}

.catalog-item:hover .actions {
    display: block;
}

.actions .buy:hover {
    background-color: #5fbb2d;
    border-top-color: #5fbb2d;
    border-left-color: #5fbb2d;
    border-right-color: #5fbb2d;
}

.actions .buy:active {
    background-color: #518534;
    border-color: #518534;
}

.actions .in-bookmark:hover {
    border-color: #32425c;
}

.actions .in-bookmark:active {
    border-color: #c1c6ce;
    color: rgba(50, 66, 92, 0.3);
}

.popular-manufactures {
    width: 940px;
    margin: 0 auto
}

.popular-list-manufactures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.manufactures-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 218px;
    height: 143px;
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
}

.manufactures-item:hover {
    -webkit-box-shadow: 0px 7px 20px 3px #b8bbc2;
    box-shadow: 0px 7px 20px 3px #b8bbc2;
}

.manufactures-item:active {
    -webkit-box-shadow: 0px 5px 10px 5px #b8bbc2;
    box-shadow: 0px 5px 10px 5px #b8bbc2;
    opacity: 0.5;
}

.info-services {
    background-color: #f4f8f9;
    font-family: "PT sans", Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-transform: none;
    color: #000000;
}

.wrapper-services {
    width: 940px;
    margin: 0 auto;
    margin-top: 63px;
}

.name-services {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    padding-top: 70px;
    text-transform: uppercase;
}

.wrapper-services p {
    width: 400px;
}

.place-slaider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70px;
    margin-bottom: 78px;
    z-index: 0;
}

.list-btn {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    width: 240px;
}

.list-btn::after {
    position: absolute;
    content: "";
    top: -35px;
    left: 230px;
    width: 10px;
    height: 250px;
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.delivery-btn {
    display: block;
    padding: 14px 140px 16px 22px;
    background-color: #32425c;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #405069;
    color: #ffffff;
    font-weight: 700;
}

.guarantee-btn {
    display: block;
    padding: 14px 140px 16px 22px;
    background-color: #32425c;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #293449;
    color: #ffffff;
    font-weight: 700;
}

.credit-btn {
    display: block;
    padding: 14px 140px 16px 22px;
    background-color: #32425c;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #293449;
    color: #ffffff;
    font-weight: 700;
}

.slider-controls {
    margin-bottom: 100px;
}

#btn-1:checked ~ .slider-controls .delivery-btn,
#btn-2:checked ~ .slider-controls .guarantee-btn,
#btn-3:checked ~ .slider-controls .credit-btn {
    background-color: #ffffff;
    color: #32425c;
    border: none;
}

.slider-slides-1,
.slider-slides-2,
.slider-slides-3 {
    display: none;
}

#btn-1:checked ~ .slider-slides-1,
#btn-2:checked ~ .slider-slides-2,
#btn-3:checked ~ .slider-slides-3 {
    display: block;
}

.slider-slides-1 {
    margin-left: 80px;
    background-image: url("../img/car.png");
    background-repeat: no-repeat;
    background-position: 150px 22px;
    width: 620px;
}

.slider-slides-1 p {
    display: block;
    width: 281px;
    margin: 0;
    white-space: pre-line;
}

.slider-slides-1 h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.slider-slides-2 {
    position: relative;
    margin-left: 80px;
    width: 620px;
}

.slider-slides-2::after {
    position: absolute;
    content: "";
    background-image: url("../img/medal.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 283px;
    width: 389px;
    top: 0px;
    left: 239px;
    z-index: -1;
}

.slider-slides-2 p {
    display: block;
    width: 380px;
    margin: 0;
    white-space: pre-line;
}

.slider-slides-2 h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.slider-slides-3 {
    position: relative;
    margin-left: 80px;
    width: 620px;
}

.slider-slides-3::after {
    position: absolute;
    content: "";
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 285px;
    width: 465px;
    top: 0px;
    left: 155px;
    z-index: -1;
}

.slider-slides-3 p {
    display: block;
    width: 380px;
    margin: 0;
}

.slider-slides-3 h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.send-request {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 44px 10px 44px;
    background-color: #ff5357;
    border-radius: 3px;
    margin-top: 30px;
}

.send-request:hover {
    background-color: #ca2c37;
}

.send-request:active {
    background-color: #ba2732;
}

.delivery-btn:hover,
.guarantee-btn:hover,
.credit-btn:hover {
    background-color: #293449;
}

.place-slaider input[type="radio"] {
    display: none;
}


/*Популярные товары*/

.first-slaid {
    display: none;
}

.filter-range {
    width: 220px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    border: none;
}

.filter-title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 17px;
    line-height: 30px;
    margin-top: -7px;
}

.range-controls {
    width: 220px;
    height: 2px;
    padding: 39px 20px 40px 20px;
    background-color: #f7f3ec;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.range-controls .scale {
    position: relative;
    height: 2px;
    width: 180px;
    background-color: #d7dcde;
}

.range-controls .bar {
    width: 77%;
    height: 2px;
    background: #00ca74;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 77%;
}

.price-controls {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.price-controls input {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    width: 95px;
    height: 38px;
    margin: 0;
    margin-top: 10px;
    border: none;
    background-color: #f7f3ec;
}

.dash {
    position: absolute;
    top: 30px;
    left: 100px;
    height: 1px;
    width: 13px;
    background-color: #000000;
}

.container-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 38px;
    margin-bottom: 20px;
}

.container-filter-name {
    display: block;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT sans", Arial, sans-serif;
    font-weight: 500;
    background-color: #f7f3ec;
    padding: 10px 130px 10px 17px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    width: 220px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sorting {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    background-color: #f7f3ec;
    font-size: 13px;
    line-height: 18px;
}

.sorting .triangle-up {
    position: absolute;
    top: 14px;
    left: 640px;
    padding-right: 20px;
}

.sorting .triangle-up:focus,
.sorting .triangle-down:focus {
    border-color: #663d15;
    outline: thin dotted;
    outline: 3px auto -webkit-focus-ring-color;
}

.sorting .triangle-down {
    position: absolute;
    top: 14px;
    left: 672px;
    padding-right: 20px;
}

.triangle-up:hover path,
.triangle-down:hover path {
    fill: #000000;
}

.triangle-down:active path {
    fill: #ee3643;
}

.sorting h3 {
    display: block;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    padding: 10px 20px;
    margin-right: 119px;
}

.sorting-items a {
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
    -webkit-text-decoration-color: #ee3643;
    text-decoration-color: #ee3643;
}

.sorting-items a:hover {
    text-decoration: underline;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-text-decoration-color: #ee3643;
    text-decoration-color: #ee3643;
    color: rgba(0, 0, 0, 1);
}

.sorting-items a:active {
    text-decoration: none;
    color: #ee3643;
}

.sorting-items span {
    color: #ee3643;
    padding: 10px 0;
}

.sorting-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sorting-items li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    margin-right: 66px;
}

.filter-item-manufacturers {
    margin: 0;
    padding: 0;
    border: none;
    width: 220px;
}

.filter-item-manufacturers legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    border-top: 1px solid gray;
    text-align: left;
    padding: 14px 83px 0px 0px;
    border-color: #e5e5e5;
    margin-bottom: 14px;
}

.filter-item-feed {
    margin: 0;
    padding: 0;
    border: none;
    width: 220px;
    margin-bottom: 57px;
}

.filter-item-feed legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    border-top: 1px solid gray;
    text-align: left;
    padding: 19px 147px 0px 0px;
    border-color: #e5e5e5;
    margin-bottom: 14px;
}

.manufacturers {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.manufacturers li {
    margin-bottom: 20px;
}

.manufacturers .togle-checkbox {
    position: relative;
    padding-left: 35px;
    padding-bottom: 16px;
}

.manufacturers .togle-checkbox::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 23px;
    width: 27px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}

.manufacturers .togle-checkbox:hover::after {
    background-image: url("../img/checkbox-off-hover.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#filter-bosch:checked + .togle-checkbox::after,
#filter-intrescol:checked + .togle-checkbox::after,
#filter-makita:checked + .togle-checkbox::after,
#filter-dewalt:checked + .togle-checkbox::after,
#filter-hitachi:checked + .togle-checkbox::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 23px;
    width: 27px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}

#filter-bosch:checked + .togle-checkbox:hover::after,
#filter-intrescol:checked + .togle-checkbox:hover::after,
#filter-makita:checked + .togle-checkbox:hover::after,
#filter-dewalt:checked + .togle-checkbox:hover::after,
#filter-hitachi:checked + .togle-checkbox:hover::after {
    background-image: url("../img/checkbox-on-hover.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#filter-bosch:focus + .togle-checkbox::after,
#filter-intrescol:focus + .togle-checkbox::after,
#filter-makita:focus + .togle-checkbox::after,
#filter-dewalt:focus + .togle-checkbox::after,
#filter-hitachi:focus + .togle-checkbox::after {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

#filter-bosch:disabled + .togle-checkbox::after,
#filter-intrescol:disabled + .togle-checkbox::after,
#filter-makita:disabled + .togle-checkbox::after,
#filter-dewalt:disabled + .togle-checkbox::after,
#filter-hitachi:disabled + .togle-checkbox::after {
    background-image: url("../img/checkbox-off-disabled.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#filter-bosch:disabled:checked + .togle-checkbox::after,
#filter-intrescol:disabled:checked + .togle-checkbox::after,
#filter-makita:disabled:checked + .togle-checkbox::after,
#filter-dewalt:disabled:checked + .togle-checkbox::after,
#filter-hitachi:disabled:checked + .togle-checkbox::after {
    background-image: url("../img/checkbox-on-disabled.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.manufacturers input[type="checkbox"]:disabled + label,
.feed input[type="radio"]:disabled + label {
    color: rgba(0, 0, 0, 0.4);
}

.feed {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.feed li {
    margin-bottom: 20px;
}

.feed .togle-circle {
    position: relative;
    padding-left: 35px;
    padding-bottom: 16px;
}

.feed .togle-circle::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}

.feed .togle-circle:hover::after {
    background-image: url("../img/radio-off-hover.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#filter-rechargeable:checked + .togle-circle::after,
#filter-networking:checked + .togle-circle::after {
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#filter-rechargeable:checked:disabled + .togle-circle::after,
#filter-networking:checked:disabled + .togle-circle::after {
    background-image: url("../img/radio-on-disabled.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#filter-rechargeable:focus + .togle-circle::after,
#filter-networking:focus + .togle-circle::after {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

#filter-rechargeable:disabled + .togle-circle::after,
#filter-networking:disabled + .togle-circle::after {
    background-image: url("../img/radio-off-disabled.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.page-navigation {
    margin-top: 30px;
    margin-bottom: 60px;
}

.breadcrumbs-page-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    list-style: none;
    color: #000000;
    margin: 0;
    padding: 0;
}

.breadcrumbs-page-navigation a {
    display: block;
    border: 1px solid #e5e5e5;
    padding: 9px 15px;
    border-radius: 3px;
    margin-right: 9px;
    color: #000000;
}

.breadcrumbs-page-navigation .next {
    padding: 9px 31px;
}

.breadcrumbs-page-navigation li:first-child {
    border: 1px solid #e5e5e5;
    padding: 9px 15px;
    border-radius: 3px;
    margin-right: 9px;
    color: #ffffff;
    background-color: #ee3643;
    border-color: #ee3643;
}

.breadcrumbs-page-navigation a:hover {
    border: 1px solid #bdc6ca;
}

.breadcrumbs-page-navigation a:active {
    border: 1px solid #ee3643;
}

.about-perforators {
    background-color: #f2f6f8;
    padding-top: 65px;
    padding-bottom: 71px;
}

.wrapper-perforators {
    width: 940px;
    margin: 0 auto;
}

.wrapper-perforators h2 {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 27px;
}

.wrapper-perforators p {
    display: block;
    font-size: 13px;
    line-height: 24px;
    text-transform: none;
    margin: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}